:root {
    --background-color-light: #f5f5f5;
    --text-color-light: #333;
    --background-color-dark: #333;
    --text-color-dark: #f5f5f5;
}

body[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

body[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

body {
    background-color: var(--background-color, #f5f5f5);
    color: var(--text-color, #333);
}

/* Style for the dark mode toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
