body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}

h2 {
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 svg {
    margin-right: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.input-group input,
input[type="text"],
input[type="time"],
input[type="number"],
button,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    padding: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    color: #333;
}

label {
    margin: 10px 0;
    display: block;
    color: #333;
}
